/*       tag selector         */
a {
    
    color: black;
    text-decoration: none;
    background-color: white;
}

body {
    background-color: lightgray;
}

/*       id selector          */


#header-section {
    margin: auto;
    background-color: white;
    width: 850px;
    height: 400px;
    position: relative;
}



/*       class selector       */
.top {
    background-color: royalblue;
    height: 350px;
}

.top-menu {
    display: flex;
    position: absolute;
    left: 30rem;
    top: 18rem;
}

/* .two-buttons {
     background-color: lightgray; 
    
} */

.like-button {
    margin-right: 10px;
    
}

/* .padding {
    padding: 3px;
} */

.bottom {
    height: 50px;
}

.bottom-menu {
    position: absolute;
    top: 22.8rem;
    left: 17.6rem;
}

.image {
    width: 14rem;
    height: 14rem;
    position: absolute;
    right: 38rem;
    bottom: 20px;
    float: left;
}

.words-image {
    position: absolute;
    left: 16rem;
    bottom: 5rem;
    float: left;
}

.left-border {
    border-left: 1px solid gray;
    padding-left: 10px;
}



/* two page columns below */

.two-columns {
   width: 850px;
   margin: auto;
   padding-top: 10px;
}
.first-column {
   float: left;
   background-color: white;
   width: 328px;
   height: 200px;
   margin-bottom: 10px;
}

.second-column {
   float: right;
   background-color: white;
   width: 512px;
   height: 400px;
   margin-bottom: 10px;
}

.body-box-left {
    background-color: white;
   width: 328px;
   height: 500px;
   float: left;
}

.body-box-right {
    background-color: white;
    width: 512px;
    height: 300px;
    float: right;
}
