/*       tag selector         */
a {
    
    color: black;
    text-decoration: none;
    background-color: white;
}

a:hover {
    color: blue;
}

body {
    background-color: lightgray;
}

hr {
    /* color: grey; */
    background-color: lightgrey;
}

h4,p {
    margin: 6px 10px;
}
/*       id selector          */


#header-section {
    margin: auto;
    background-color: white;
    width: 850px;
    height: 400px;
    position: relative;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}



/*       class selector       */
.top {
    background-color: royalblue;
    height: 350px;
}

.top-menu {
    display: flex;
    position: absolute;
    left: 30rem;
    top: 18rem;
}

/* .two-buttons {
     background-color: lightgray; 
    
} */

.like-button {
    margin-right: 10px;
    
}

/* .padding {
    padding: 3px;
} */

.bottom {
    height: 50px;
}

.bottom-menu {
    position: absolute;
    top: 22.8rem;
    left: 17.6rem;
}

.image {
    width: 14rem;
    height: 14rem;
    position: absolute;
    right: 38rem;
    bottom: 20px;
    float: left;
}

.words-image {
    position: absolute;
    left: 16rem;
    bottom: 5rem;
    float: left;
}

.left-border {
    border-left: 1px solid gray;
    padding-left: 10px;
}



/* two page columns below */

.two-columns {
   width: 850px;
   margin: auto;
   padding-top: 10px;
}
.first-column {
   float: left;
   background-color: white;
   width: 326px;
   height: 210px;
   margin-bottom: 10px;
   border-style: solid;
   border-color: darkgrey;
   border-width: 1px;
}

.about {
    height: 15px;
}

.second-column {
   float: right;
   background-color: white;
   width: 510px;
   height: 380px;
   margin-bottom: 10px;
   border-style: solid;
   border-color: darkgrey;
   border-width: 1px;
}

.little-image {
    display: flex;
    margin: 6px 10px;
}

.word-size {
    font-size: small;
}

.dog-image {
    height: 45px;
    width: 45px;
}

.post-pic {
    height: 260px;
    width: 500px;
    margin-left: 6px;
}

.like {
    color: grey;
    display: flex;
}

.like-inside {
    font-size: 15px;
    margin: 3px 10px;
}

.left-dot {
    border-left: 9px dotted gray;
    margin: 0;
}

/* .body-box-left {
   box-sizing: border-box;
} */

.body-box-left {
    float: left;
    background-color: white;
    width: 326px;
    height: 210px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
 }


.body-box-right {
    background-color: white;
    width: 510px;
    height: 300px;
    float: right;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
}

